*.log
*.log.*
*.xz
*.sig
src/
pkg/
pkgrel/
buildlog.txt

mingw-w64-inputproto-git/inputproto/
mingw-w64-kbproto-git/kbproto/
mingw-w64-libspiro-git/libspiro/
mingw-w64-libuninameslist-git/libuninameslist/
mingw-w64-libx11-git/libx11/
mingw-w64-libxau-git/libxau/
mingw-w64-libxcb-git/libxcb/
mingw-w64-libxext-git/libxext/
mingw-w64-libxft-git/libxft/
mingw-w64-libxrender-git/libxrender/
mingw-w64-renderproto-git/renderproto/
mingw-w64-x11proto-git/x11proto/
mingw-w64-xcb-proto-git/xcb-proto/
mingw-w64-xextproto-git/xextproto/
mingw-w64-xf86bigfontproto-git/xf86bigfontproto/
mingw-w64-xorg-util-macros-git/xorg-util-macros/
mingw-w64-xtrans-git/xtrans/
mingw-w64-woff2-git/woff2